<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunjunwang.hospital.dao.HMedicineMapper">
  <resultMap id="BaseResultMap" type="com.cunjunwang.hospital.model.po.HMedicine">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="medicine_name" jdbcType="VARCHAR" property="medicineName" />
    <result column="medicine_description" jdbcType="VARCHAR" property="medicineDescription" />
    <result column="medicine_price" jdbcType="DECIMAL" property="medicinePrice" />
    <result column="medicine_stock" jdbcType="BIGINT" property="medicineStock" />
    <result column="medicine_type" jdbcType="TINYINT" property="medicineType" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, medicine_name, medicine_description, medicine_price, medicine_stock, medicine_type, 
    is_del, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_medicine
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from h_medicine where is_del = 0
    </select>
    <insert id="insert" parameterType="com.cunjunwang.hospital.model.po.HMedicine">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_medicine (id, medicine_name, medicine_description, 
      medicine_price, medicine_stock, medicine_type, 
      is_del, create_time, create_by, 
      update_time, update_by)
    values (#{id,jdbcType=BIGINT}, #{medicineName,jdbcType=VARCHAR}, #{medicineDescription,jdbcType=VARCHAR}, 
      #{medicinePrice,jdbcType=DECIMAL}, #{medicineStock,jdbcType=BIGINT}, #{medicineType,jdbcType=TINYINT}, 
      #{isDel,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cunjunwang.hospital.model.po.HMedicine">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="medicineName != null">
        medicine_name,
      </if>
      <if test="medicineDescription != null">
        medicine_description,
      </if>
      <if test="medicinePrice != null">
        medicine_price,
      </if>
      <if test="medicineStock != null">
        medicine_stock,
      </if>
      <if test="medicineType != null">
        medicine_type,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="medicineName != null">
        #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineDescription != null">
        #{medicineDescription,jdbcType=VARCHAR},
      </if>
      <if test="medicinePrice != null">
        #{medicinePrice,jdbcType=DECIMAL},
      </if>
      <if test="medicineStock != null">
        #{medicineStock,jdbcType=BIGINT},
      </if>
      <if test="medicineType != null">
        #{medicineType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cunjunwang.hospital.model.po.HMedicine">
    update h_medicine
    <set>
      <if test="medicineName != null">
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineDescription != null">
        medicine_description = #{medicineDescription,jdbcType=VARCHAR},
      </if>
      <if test="medicinePrice != null">
        medicine_price = #{medicinePrice,jdbcType=DECIMAL},
      </if>
      <if test="medicineStock != null">
        medicine_stock = #{medicineStock,jdbcType=BIGINT},
      </if>
      <if test="medicineType != null">
        medicine_type = #{medicineType,jdbcType=TINYINT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cunjunwang.hospital.model.po.HMedicine">
    update h_medicine
    set medicine_name = #{medicineName,jdbcType=VARCHAR},
      medicine_description = #{medicineDescription,jdbcType=VARCHAR},
      medicine_price = #{medicinePrice,jdbcType=DECIMAL},
      medicine_stock = #{medicineStock,jdbcType=BIGINT},
      medicine_type = #{medicineType,jdbcType=TINYINT},
      is_del = #{isDel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>