<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cunjunwang.hospital.dao.HWardMapper">
  <resultMap id="BaseResultMap" type="com.cunjunwang.hospital.model.po.HWard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ward_room_number" jdbcType="BIGINT" property="wardRoomNumber" />
    <result column="ward_floor" jdbcType="BIGINT" property="wardFloor" />
    <result column="ward_capacity" jdbcType="INTEGER" property="wardCapacity" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="ward_type" jdbcType="BIGINT" property="wardType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ward_room_number, ward_floor, ward_capacity, is_del, create_date, create_by, 
    update_time, update_by, ward_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_ward
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.cunjunwang.hospital.model.po.HWard">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_ward (id, ward_room_number, ward_floor, 
      ward_capacity, is_del, create_date, 
      create_by, update_time, update_by, 
      ward_type)
    values (#{id,jdbcType=BIGINT}, #{wardRoomNumber,jdbcType=BIGINT}, #{wardFloor,jdbcType=BIGINT}, 
      #{wardCapacity,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{wardType,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cunjunwang.hospital.model.po.HWard">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into h_ward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="wardRoomNumber != null">
        ward_room_number,
      </if>
      <if test="wardFloor != null">
        ward_floor,
      </if>
      <if test="wardCapacity != null">
        ward_capacity,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="wardType != null">
        ward_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="wardRoomNumber != null">
        #{wardRoomNumber,jdbcType=BIGINT},
      </if>
      <if test="wardFloor != null">
        #{wardFloor,jdbcType=BIGINT},
      </if>
      <if test="wardCapacity != null">
        #{wardCapacity,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="wardType != null">
        #{wardType,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cunjunwang.hospital.model.po.HWard">
    update h_ward
    <set>
      <if test="wardRoomNumber != null">
        ward_room_number = #{wardRoomNumber,jdbcType=BIGINT},
      </if>
      <if test="wardFloor != null">
        ward_floor = #{wardFloor,jdbcType=BIGINT},
      </if>
      <if test="wardCapacity != null">
        ward_capacity = #{wardCapacity,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="wardType != null">
        ward_type = #{wardType,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cunjunwang.hospital.model.po.HWard">
    update h_ward
    set ward_room_number = #{wardRoomNumber,jdbcType=BIGINT},
      ward_floor = #{wardFloor,jdbcType=BIGINT},
      ward_capacity = #{wardCapacity,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      ward_type = #{wardType,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>